{
  "ShopifyGetProductsFunction": {
    "SHOPIFY_STORE_DOMAIN": "replace-me.myshopify.com",
    "SHOPIFY_ACCESS_TOKEN": "replace-me"
  },
  "JotformGetFormsFunction": {
    "JOTFORM_API_KEY": "replace-me"
  },
  "JotformGetFormSubmissionsFunction": {
    "JOTFORM_API_KEY": "replace-me"
  },
  "AirtableGetListingsFunction": {
    "AIRTABLE_API_KEY": "replace-me",
    "AIRTABLE_BASE_ID": "replace-me",
    "ALLOWED_AIRTABLE_TABLE_NAME": "replace-me",
    "ALLOWED_AIRTABLE_VIEW_ID": "replace-me"
  },
  "AirtableGetConfiguredRecordsFunction": {
    "AIRTABLE_API_KEY": "replace-me",
    "AIRTABLE_BASE_ID": "replace-me",
    "AIRTABLE_USERS_TABLE_REF": "replace-me",
    "AIRTABLE_USERS_TABLE_NAME": "replace-me",
    "AIRTABLE_APPROVAL_TABLE_REF": "replace-me",
    "AIRTABLE_APPROVAL_TABLE_NAME": "replace-me",
    "AIRTABLE_SHOPIFY_APPROVAL_TABLE_REF": "replace-me",
    "AIRTABLE_SHOPIFY_APPROVAL_TABLE_NAME": "replace-me",
    "AIRTABLE_COMBINED_LISTINGS_TABLE_REF": "replace-me",
    "AIRTABLE_COMBINED_LISTINGS_TABLE_NAME": "replace-me"
  },
  "AiIdentifyEquipmentFunction": {
    "GITHUB_TOKEN": "replace-me",
    "OPENAI_API_KEY": "replace-me"
  },
  "GmailSendFunction": {
    "GOOGLE_GMAIL_ACCESS_TOKEN": "replace-me",
    "GOOGLE_GMAIL_FROM_EMAIL": "replace-me"
  }
}